.productContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.wrapper1 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
    align-items: center;
    z-index: 400;
}

.hr {
    width: 100%;
    /* height: 1px; */
    border: none;
    margin: 0;
    border-bottom: 1px solid #e5e4e4;
}

.xBtn {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.4s linear;
}

.xBtnContainer:hover .xBtn {
    transform: scale(1.1);
}

.wrapper2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.headingContainer {
    width: 35%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.headingContainer::-webkit-scrollbar {
    width: 7px;
}

.headingContainer::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: white;
}

.headingContainer::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #ed8129;
    border-radius: 5px;
}

.productListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.productHeading {
    position: relative;
    font-size: 1.2rem;
    color: rgb(222, 222, 222);
    font-weight: 300;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.productHeading::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ed8129;
}

.products {
    width: 100%;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.4s linear;
}

.product:hover {
    background-color: #ed8129;
}

.productLink {
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
}

.productImgContainer {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s linear;

}

@media (max-width: 1023px) {
    /* .headingContainer {
        height: auto;
    } */
    .productImgContainer {
        display: none;
    }

    .headingContainer {
        width: 100%;
    }
}

/* @media (max-width:767px) {
    .productHeading {
        font-size: 17px;
    }

    .productLink {
        font-size: 1rem;
    }
} */

@media (max-width:450px) {
    .productHeading {
        font-size: 15px;
    }

    .productLink {
        font-size: 13px;
    }
}