.contactFormMain {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    border: 1px solid #c8742f;
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectContainer {
    width: 100%;
    border: 1px solid gray;
    margin: 8px auto;
    box-sizing: border-box;
}

.select {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
    text-transform: capitalize;
    color: gray;
    font-size: 13px;
}

.inputContainer {
    position: relative;
    width: 100%;
    margin: 8px auto;
    border: 1px solid gray;
    box-sizing: border-box;
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}

textarea {
    font-size: 13px;
    font-family: "DM Sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input.activeInput {
    /* border: 1px solid #d0e20d;
    box-shadow: 2px 2px 15px 2px #d0e20d61; */
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
}

.label.activeLabel {
    top: -12px;
    opacity: 1;
    z-index: 1;
    background-color: #c8742f;
    color: white;
}

.attachmentContainer {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 8px auto;
    box-sizing: border-box;
    margin: 8px auto;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.attchmentLabel {
    font-size: 12px;
    color: rgb(44, 44, 44);
}

.attachmentBtn {
    width: 70px;
    height: 20px;
    font-size: 11px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: rgb(44, 44, 44);
    cursor: pointer;
}

.attachmentBtn:hover {
    background-color: #d0e20d;
    color: black;
}

.submitBtn {
    width: 100%;
    height: 40px;
    background-color: #F39F5A;
    color: white;
    border: 1px solid #F39F5A;
    cursor: pointer;
    margin: 10px auto;
    font-size: 13px;
}

.submitBtn:disabled {
    cursor: default;
    background-color: #F39F5A;
    color: lightgray;
}

.statusContainer {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusH2 {
    font-size: 18px;
    font-weight: 300;
    margin: 5px;
}

.statusP {
    font-size: 15px;
    font-weight: 200;
    color: rgb(59, 59, 59);
    margin: 5px;
}

.statusBtn {
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border: 1px solid #d0e20d;
    background-color: #d0e20d;
    color: rgb(78, 78, 78);
    cursor: pointer;
    font-size: 14px;
    font: 300;
    text-transform: uppercase;
}

.statusBtn:hover {
    background-color: #bccd04;
}

.info {
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.spinner {
    color: black;
}

@media (max-width: 767px) {
    .statusBtn {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .contactFormMain {
        padding: 10px 15px;
    }
}