.contactFormMain {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.756); */
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectContainer {
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.select {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
    text-transform: capitalize;
    color: gray;
    font-size: 13px;
}

.inputContainer {
    position: relative;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
}

.input {
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 13px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input.activeInput {
    /* border: 1px solid #d0e20d;
    box-shadow: 2px 2px 15px 2px #d0e20d61; */
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    opacity: 0;
    z-index: -1;
    border-radius: 10px;
}

.label.activeLabel {
    top: -12px;
    opacity: 1;
    z-index: 1;
    background-color: #d0e20d;
}

.submitBtn {
    width: 100%;
    height: 40px;
    background-color: #d0e20d;
    color: rgb(80, 79, 79);
    border: 1px solid #d0e20d;
    cursor: pointer;
    margin: 10px auto;
    font-size: 13px;
}

.submitBtn:disabled {
    cursor: default;
    background-color: #d0e20d7b;
    color: rgba(80, 79, 79, 0.513);
}

.info {
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
