.drawToggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.quote {
    width: 150px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .quote {
        display: none;
    }
}