.productSelectorContainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon {
    font-size: 25px;
    margin-right: 8px;
}

.text {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: capitalize;
    line-height: 16px;
}

.productSelectorContainer:hover .icon {
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .text {
        display: none;
    }

    .icon {
        font-size: 20px;
    }
}