.wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 200px auto auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    align-items: center;
}

.topHeader {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topHeaderHeading {
    font-size: 2rem;
    font-weight: 200;
    color: rgb(89, 89, 89);
    letter-spacing: 1px;
}

.topHeaderP {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgb(64, 64, 64);
    /* letter-spacing: 1px; */
    text-align: center;
}

.bottomHeader {
    width: 50%;
    padding: 30px 40px;
    margin: 30px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F39F5A;
}

@media (max-width: 1023px) {
    .bottomHeader {
        width: 90%;
        padding: 20px;
    }

    .topHeaderHeading {
        font-size: 1.5rem;
    }

    .topHeaderP {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        margin-top: 100px;
    }
}

@media (max-width: 550px) {
    .bottomHeader {
        /* padding: 10px; */
        border: none;
    }
}