.wrapper {
    width: 100%;
    margin: 50px auto;
    padding-top: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    align-items: center;
}

.topHeader {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topHeaderHeading {
    font-size: 2rem;
    font-weight: 200;
    color: rgb(89, 89, 89);
    letter-spacing: 1px;
}

.topHeaderP {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgb(64, 64, 64);
    /* letter-spacing: 1px; */
    text-align: center;
}

.bottomHeader {
    width: 50%;
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #b0bf09;
}

@media (max-width: 1023px) {
    .topHeaderHeading {
        font-size: 1.5rem;
    }

    .topHeaderP {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .bottomHeader {
        width: 90%;
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .bottomHeader {
        padding: 10px;
    }
}